{{#section 'css'}}
    <style>
        main { position: relative; }
        main img { position: absolute; top: 100px; left: 250px; }
    </style>
{{/section}}

{{#section 'script'}}
{{/section}}

<main>
    <img src="/img/ux.png">
</main>