{{#section 'css'}}
    <style>
        main h3 { margin-left: 30px; }
        .myinfo { width: 300px; margin: 0 auto; border-collapse: collapse; }
        .myinfo, .myinfo td { /*border: 1px solid black;*/ }
        .myinfo td { padding: 5px 5px 5px 10px; }
        .myinfo td:first-child { font-weight: bold; text-align: right; }
    </style>
{{/section}}

<main>
    <h3>회원정보</h3>
    <table class="myinfo">
        <tr>
            <td>아이디</td>
            <td>yogurrr</td>
        </tr>
        <tr>
            <td>이름</td>
            <td>요굴</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>yogurrr@naver.com</td>
        </tr>
        <tr>
            <td>가입일</td>
            <td>2023-01-10 17:54:33</td>
        </tr>
    </table>
</main>