{{#section 'css'}}
    <style>
        main h3 { margin-left: 30px; }
        #view { width: 600px; margin: 0 auto; }
        label { display: inline-block; width: 110px; text-align: right;
            font-weight: bold; }
        #contents { border: 1px solid #cccccc; display: inline-block;
            width: 460px; min-height: 350px; }
        #view div label { padding-right: 10px; }
    </style>
{{/section}}

<main>
    <h3>게시판 본문글</h3>
    <div id="view">
        {{#bds}}
        <div><label>제목</label>
            <span>{{title}}</span></div>

        <div><label>작성자</label>
            <span>{{userid}}</span></div>

        <div><label>작성일</label>
            <span>{{regdate}}</span></div>

        <div><label class="dragup">본&nbsp;&nbsp;&nbsp;문</label>
            <span id="contents">{{contents}}</span></div>
        {{/bds}}
        <div><label></label>
            <button type="button" onclick="location.href='write.html'">
                새글쓰기</button>
            <button type="button">목록으로</button>
            <button type="button">수정하기</button>
            <button type="button">삭제하기</button>
        </div>
    </div>
</main>